* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #0c0c0c;
    color: #ffffff;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    background: #000;
}
.logo {
    font-size: 28px;
    font-weight: 800;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li {
    position: relative;
    padding: 10px 0;
}
    nav a {
        color: #fff;
        margin: 0 10px;
        text-decoration: none;
        position: relative;
        transition: color 0.3s ease;
}
nav a:hover {
        color: #00bcd4;
}
nav ul li a {
    color: #d7d3d3;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}
nav ul li:hover > a {
    color: #ff9900;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    min-width: 200px;
    border-radius: 8px;
    padding: 10px 0;
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}
nav ul li:hover .dropdown-menu {
    display: block;
}
.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: #000;
}
.main {
    text-align: center;
    padding: 80px 20px;
}
.main h1 {
    font-size: 42px;
}
.subtitle {
    margin-top: 10px;
    color: #ccc;
}
.cards {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card {
    width: 300px;
    height: 420px;
    padding: 30px;
    border-radius: 22px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-10px);
}
.light {
    background: linear-gradient(180deg, #977c25, #1b1b1b);
}
.optimal {
    background: linear-gradient(180deg, #60361a, #1b1b1b);
}
.mega {
    background: linear-gradient(180deg, #2f685d, #0f1f1c);
}
.card-top {
    margin-top: auto;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.desc {
    font-size: 14px;
    color: #ddd;
    margin-top:auto;
}
.stats {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px 0;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}
.stats strong {
    font-size: 27px;
}
.card-footer {
    margin-top: auto;
}
.card button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 12px;
}
.card button:hover {
    background:  #ff9900;
}
.price {
    font-size: 16px;
}
.price strong {
    font-size: 35px;
}
.trial {
    font-size: 13px;
    color: #bbb;
}
.badge {
    position: absolute;
    top: 25px;
    right: -30px;
    background: #6dd6c3;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 25px;
    transform: rotate(45deg);
}
.auth {
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-form {
    width: 320px;
    background: #1b1b1b;
    padding: 30px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.auth-form h2 {
    text-align: center;
}
.auth-form input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: #2a2a2a;
    color: #fff;
}
.auth-form button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.details-link {
    display: block;
    color: rgb(162, 170, 179);
    margin-top: 45px;
    font-size: 13px;
}
.details-link :hover {
    color: #ccc;
}
.first {
    background: #da7c19;
    color: #ffffff;
}
.secondary {
    background: #da7c19;
    color: #ffffff;
}
